

body {
  background-image: url("file:///Users/andrewhannaoui/Desktop/06930004.jpg");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.background-color {
  background-color: ;
  color:black;
  font-family: verdana;
  font-size: 20px;
  display:block;
  margin: 10px;
  text-align: center;
  padding: 10px;

}


div {
  font-family: verdana;
  font-size: 20px;
  display:inline-block;
  margin: 40px;
  text-align: center;
  background-color:;
  padding: auto;
}



h1 {
    color: white;
    text-align: center;
    background-color:;
    display:inline-block;
    padding: 10px;
    list-style-type: none;
    margin: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
    display: block;
    margin: 5px;
    text-align: center;
}

header {
  width: 100%;
  height: 250px;
  font-weight:900
  display:inline-block;
  margin: auto;
  text-align: center;
  font-size: 2em;
}

nav ul {
margin:0;
}

nav ul li {
  background-color:#DCDCDC;
  opacity:.8;
  display:inline-block;
  padding: 2px 3px 20px 3px;
  list-style-type: none;
  margin: 10px;
  text-align: center;
  color: black;
}
